@page "/"
@inject IHttpContextAccessor context;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>
    @context.HttpContext?.Connection.RemoteIpAddress?.ToString()
</p>
<p>
    @context.HttpContext?.Connection.RemotePort.ToString()
</p>

<p>
    @context.HttpContext?.Connection.LocalIpAddress?.ToString()
</p>
<p>
    @context.HttpContext?.Connection.LocalPort.ToString()
</p>
<Counter></Counter>
<Counter></Counter>

